body{
    background-image: url('bg.jpeg');
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-repeat: space;
} 


.red{
    background: #f97a7a;;
}

.green{
    background: #76f076;
}