h2{
    /* Font decoration for underline overline and inline */
    text-decoration: red dotted underline;
    text-decoration: red wavy underline;
    text-decoration: red dashed underline;
    text-decoration: red double underline;
    text-decoration: red solid underline;

/* Font Weight */
    font-weight: lighter;
    font-weight: bold;
    font-weight: bolder;
    font-weight: normal;

    /* Font style */
    font-family: 'Courier New', Courier, monospace;

}

#one{
    font-size: 40px; /* Changes the font size */
    line-height: 10px; /*over the lines because line height is too short */
    line-height: 1; /* height of line is one means normalize the line */
}

