p{
    text-decoration: underline;
}

h2{
    text-decoration: overline; /*line appears over the text */
    text-decoration: line-through; /* Line appears through the line */
    text-decoration: none; /* Line does not appear usually used in anchor tag */
}