h2{
    text-decoration: red dotted underline;
    text-decoration: red wavy underline;
    text-decoration: red dashed underline;
    text-decoration: red double underline;
    text-decoration: red solid underline;


    font-weight: lighter;
    font-weight: bold;
    font-weight: bolder;
    font-weight: normal;

}