h1{
    height: 40px;
    width: 168px;
    background: rgb(214, 161, 62);
    border-radius: 5px;
    text-align: center;

}

div {
    height: 100px;
    width: 100px;
    background-color: orange;
    border-width: 2px;
    /* border-color: black;
    border-style:double;
    border-radius: 5px; */
    border: 2px double black;
    border-radius:  50%;
    text-align: center;
    

}
